<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<%if @contains == false%>
  <p>Sorry <%=@answer[:word]%> cant be build out of <%=@answer[:letters]%> </p>
<% elsif @real_word == false%>
  <p>Sorry <%=@answer[:word]%> is not a valid English word</p>
<% elsif @real_word == true%>
  <p>Congrats <%=@answer[:word]%> is a valid english word</p>
<% end %>

<small><%= link_to "have another go", new_path %></small>




